<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
  	<File name="FILE" fileName="logs/openeo_0.4.2.log" append="false">
      <PatternLayout pattern="%p	%d{ISO8601}	%r	%c	[%t]	%m%n"/>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%p	%d{ISO8601}	%r	%c	[%t]	%m%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Root level="error">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="FILE"/>
    </Root>
    <Logger name="org.apache.log4j.xml" level="info">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>   
    <Logger name="eu.openeo" level="debug">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="com.j256.ormlite" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.backend.auth" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.backend.wcps.JobResultDeletion" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.backend.wcps.JobResultScheduler" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.api.ApiOriginFilter" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.dao" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>
    <Logger name="eu.openeo.model" level="error">
    	<AppenderRef ref="STDOUT"/>
		<AppenderRef ref="FILE"/>
    </Logger>    
  </Loggers>
</Configuration>