<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="3.0">
  <display-name>Eurac Research openEO Server</display-name>
  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>
                io.swagger.jaxrs.listing,
                io.swagger.sample.resource,
                eu.openeo.api,
                eu.openeo.model,
                eu.openeo.backend.auth.filter
            </param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.wadl.disableWadl</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>eu.openeo.backend.auth.filter.RequireTokenFilter</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Jersey2Config</servlet-name>
    <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
    <init-param>
      <param-name>api.version</param-name>
      <param-value>0.4.2</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.title</param-name>
      <param-value>Eurac Research openEO Server</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.basepath</param-name>
      <param-value>/</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Bootstrap</servlet-name>
    <servlet-class>eu.openeo.api.Bootstrap</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
  <!-- ==================== Job Results Files Deletion Scheduler ================= -->
  <!-- This servlet runs every XX time to check if the output file of a process job are out of date or not.-->
  <!-- If yes the file will be removed from the folder and the job is set to "SUBMITTED" -->

 	<servlet>
 		<servlet-name>JobResultScheduler</servlet-name>
        <servlet-class>eu.openeo.backend.wcps.JobResultScheduler</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
  
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ApiOriginFilter</filter-name>
    <filter-class>eu.openeo.api.ApiOriginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApiOriginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Authentication</web-resource-name>
      <url-pattern>/credentials/basic</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>PUBLIC</role-name>
      <role-name>EURAC</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Auth Preflight</web-resource-name>
      <url-pattern>/credentials/basic</url-pattern>
      <url-pattern>/credentials/Oidc</url-pattern>
      <http-method>OPTIONS</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Discovery</web-resource-name>
      <url-pattern>/</url-pattern>
      <url-pattern>/.well-known/openeo</url-pattern>
      <url-pattern>/credentials/oidc</url-pattern>
      <url-pattern>/collections</url-pattern>
      <url-pattern>/collections/*</url-pattern>
      <url-pattern>/processes</url-pattern>
      <url-pattern>/processes/*</url-pattern>
      <url-pattern>/output_formats</url-pattern>
      <url-pattern>/service_types</url-pattern>
      <url-pattern>/udf_runtimes</url-pattern>
      <http-method>OPTIONS</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
  </login-config>
  <security-role>
    <role-name>EURAC</role-name>
  </security-role>
  <security-role>
    <role-name>PUBLIC</role-name>
  </security-role>
</web-app>